.services {
  margin: 30px 5px;
}
.services-text {
  margin: 30px 0;
}
.services-text--title {
  font-size: 1.5rem;
  color: var(--color-secondary);
  text-align: center;
}
.services-text--paragraph {
  color: var(--color-light);
  text-align: center;
}
.services-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.services-content-box {
  width: 220px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  box-shadow: var(--box-shadow-secondary);
  border-radius: var(--border-secondary);
  cursor: pointer;
  transition: 500ms all;
}
.services-content-box:hover {
  background-color: var(--color-primary);
}
.services-content-box--icon {
  font-size: 3rem;
  color: var(--color-primary);
}
.services-content-box:hover .services-content-box--icon {
  color: var(--color-white);
}
.services-content-box--title {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-secondary);
}
.services-content-box:hover .services-content-box--title {
  color: var(--color-white);
}
