.bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  border-radius: 0px 5px 5px 0px;
  background-color: var(--color-primary);
  box-shadow: var(--box-shadow-primary);
  transition: 2s all;
  z-index: 10000;
}
